build/
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.map
*.log
*.ipdb
*.iobj

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.opendb
*.VC.db
*.VC.opendb

replay_*.hmi
lock.tmp
test.out

Thumbs.db
desktop.ini
.DS_Store
